.task-item {
  /* display: flex; */
  justify-content: space-evenly;
}

/* .row {
  margin-bottom: 15px;
} */
.task--complete {
  text-decoration: line-through;
}

/* @media only screen and (max-width: 555px) {
  .position {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
/* } */
/* } */
